anyio==3.4.0
argon2-cffi==20.1.0
asgiref==3.3.4
astroid==2.7.3
async-generator==1.10
attrs==20.3.0
Authlib==0.15.4
autopep8==1.5.7
awscli==1.20.36
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.9.3
bleach==3.3.0
botocore==1.21.36
braceexpand==0.1.7
Brotli==1.0.9
cachelib==0.3.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
check50==3.3.3
click==7.1.2
colorama==0.4.3
compare50==1.2.4
cryptography==3.4.8
cs50==7.0.2
cssselect2==0.4.1
cycler==0.10.0
Cython==0.29.24
DateTime==4.3
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.9
djangorestframework==3.12.4
docopt==0.6.2
docutils==0.15.2
EditorConfig==0.12.3
entrypoints==0.3
filelock==3.0.12
Flask==1.1.4
Flask-JWT-Extended==4.2.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
fonttools==4.26.2
greenlet==1.1.1
grip==4.5.2
help50==3.0.5
html5lib==1.1
icdiff==2.0.4
idna==3.2
ikp3db==1.4.5
Inflector==2.0.12
intervaltree==2.1.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==1.1.0
jedi==0.18.0
jellyfish==0.8.8
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsbeautifier==1.14.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.12.0
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
jwt==1.2.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lib50==3.0.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
mistune==0.8.4
natsort==7.1.1
nbclassic==0.3.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
numpy==1.21.2
oauthlib==3.1.1
packaging==20.9
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.1
path-and-address==2.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.3.0
plotly==5.3.1
prometheus-client==0.9.0
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pydyf==0.1.1
Pygments==2.10.0
PyJWT==2.1.0
pylint==2.10.2
pylint-django==2.4.4
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==2.4.7
PyPDF2==1.26.0
pyphen==0.11.0
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.17.3
python-dateutil==2.8.2
python-magic==0.4.24
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.2.0
QtPy==1.11.2
render50==5.1.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3cmd==2.1.0
s3transfer==0.5.0
scikit-learn==0.24.1
scipy==1.6.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
sqlparse==0.4.1
sseclient==0.0.27
style50==2.7.5
submit50==3.1.0
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.3
testpath==0.4.4
threadpoolctl==2.1.0
tinycss2==1.1.0
toml==0.10.2
tornado==6.1
tqdm==4.62.2
traitlets==5.0.5
tsc==0.3.3
twython==3.9.1
uamqp==1.4.1
urllib3==1.26.6
uuid==1.30
virtualenv==20.7.2
wcwidth==0.2.5
weasyprint==53.2
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wrapt==1.12.1
zope.interface==5.4.0
zopfli==0.1.8
